<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732989522720-jnmflu8a17041mni3m5n9u6u9qkf73q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732989522720-jnmflu8a17041mni3m5n9u6u9qkf73q9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpNsNEEZOEG5S5i3Ld9w9xYHARqqmDeCM</string>
	<key>GCM_SENDER_ID</key>
	<string>732989522720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eiden.wasurenbo</string>
	<key>PROJECT_ID</key>
	<string>matsuriba-max</string>
	<key>STORAGE_BUCKET</key>
	<string>matsuriba-max.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732989522720:ios:aa46d41f53cbc916d70d45</string>
</dict>
</plist>